<form>
    <div class="form-group">
        <label for="usuarioNome">Nome:</label>
        <input id="usuarioNome" type="text" [(ngModel)]="usuario.nome" />
    </div>
    <div class="form-group">
        <label for="usuarioEmail">Email:</label>
        <input id="usuarioEmail" type="text" [(ngModel)]="usuario.email" /><br>
    </div>
    <div class="form-group">
        <label for="usuarioEmail">Username:</label>
        <input id="usuarioEmail" type="text" [(ngModel)]="usuario.username" /><br>
    </div>
    <button type="button" class="btn btn-primary" (click)="salvar()">Cadastrar</button>
</form>    
<p>{{nome}}</p>
